.footer{
	background: #00368c;
}



.section-example__title{
	display: flex;
	justify-content: center;
	align-items: center;
	font: 400 48px / 1.05 "Okta Neue", sans-serif;
	letter-spacing: -0.04em;
	color: #fff;
}

.section-example__title_bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 16px;
	font: 400 18px / 1.2 "Okta Neue", sans-serif;
	text-align: center;
	color: #fff;
}

